<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.buildfile.qnx/lang/BuildfileDSL"
			class = "qnx.buildfile.lang.buildfileDSL.BuildfileDSLPackage"
			genModel = "model/generated/BuildfileDSL.genmodel" />
	</extension>
</plugin>
